* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5ebe0;
    font-size: 1.1rem;
    border: solid 0.1px red;
    font-family: "DM Sans", sans-serif;
    /* max-width: 100vw; */
}
/* ----------------------/////--------------------------- */

header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    position: sticky;
    top: 0;
    height: 9svh;
}
header .logo {
    grid-column: 2/3;
}
header nav {
    grid-column: 3/4;
    display: flex;
    justify-content: space-around;
}
/* ----------------------/////--------------------------- */
main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
#hero {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    /* height: 60svh; */
}
#hero .hero-text {
    grid-column: 1/2;
}
.hero-text h1 {
    color: red;
}
.hero-text p {
    color: red;
}
#hero #hero-img {
    grid-column: 2/4;
    height: 75svh;
}
#hero-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* #about-page {
    grid-column: 3/4;
}
#menu-page {
    grid-column: 2/3;
} */
.homepage-photos {
}

/* ----------------------/////--------------------------- */
