:root {
    --primary: #f5ebe0;
    --accent: #564a3b;
    --gridlines: darkgrey;
    --formal: "Hedvig Letters Serif", serif;
    --informal: "Univers", sans-serif;
}
@font-face {
    font-family: "Univers";
    src: url("/cafe/assets/univers/UniversRegular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary);
    font-size: 1rem;
    font-family: var(--informal);
}
h1,
h2,
h3 {
    color: var(--accent);
}
h3 {
    font-size: 2rem;
    font-family: var(--formal);
}
p {
    line-height: 1.5rem;
}
/* ------------------------------header------------------------------- */
body > * {
    box-shadow: 0 0 0 1px var(--gridlines);
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    position: sticky;
    top: 0;
    height: 8svh;
}
header > * {
    box-shadow: 0 0 0 1px var(--gridlines);
}
header .logo {
    grid-column: 2/3;
}
.logo h2 {
    /* font-family: "Nothing You Could Do", cursive; */
    font-weight: 400;
    font-size: 2rem;
    margin: 0.5em 0 0 10%;
}

header nav {
    grid-column: 3/4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: var(--accent);
    font-family: var(--formal);
}

/* ------------------------------gridlines------------------------------- */
main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* box-shadow: 0 0 0 1px darkgrey; */
}
/* > selects only direct children, excludes descendants */
main > * {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 0 0 1px var(--gridlines);
}
/* ------------------------------/////------------------------------- */
#hero > * {
    box-shadow: 0 0 0 1px var(--gridlines);
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
}
.hero-text h1 {
    font-size: 3rem;
    padding: 0.5em 0;
    font-family: var(--formal);
}

#hero .main-imgs {
    grid-column: 2/4;
}
.main-imgs {
    height: 75svh;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
    transition: 0.4s;
}
img:hover {
    opacity: 1;
}
/* ------------------------------/////------------------------------- */
.info-section {
    height: 30svh;
}
#about-page h3 {
    margin: 2em auto 0 auto;
}
#about-page p {
    grid-column: 2/4;
    margin: 4em auto;
    padding: 0 3%;
}

.section-img {
    height: 40svh;
}
.section-img img {
    grid-column: 1/4;
}

/* ------------------------------/////------------------------------- */
#menu-page > * {
    margin-top: 4em;
}
#menu-page h3 {
    margin: 2em auto 0 auto;
}
#menu-page div {
    grid-column: 2/4;
    margin: 4em auto;
    padding: 0 3%;
}
#menu-link {
    /* font-size: 1.25rem; */
}

/* ------------------------------/////------------------------------- */
#location-info {
    grid-column: 2/4;
    align-self: center;
    padding: 0 10%;
}
#location-info h3 {
    margin-bottom: 1em;
}
#map {
    grid-column: 1/2;
}

/* ------------------------------/////------------------------------- */
.graphic-banner {
    grid-column: 2/5;
    height: 30svh;
}
#delivery h3 {
    grid-column: 1/2;
}
#delivery p {
    grid-column: 2/4;
}

/* ------------------------------/////------------------------------- */
#contact-page * {
    background: var(--accent);
    color: white;
}
#contact-page {
    background: var(--accent);
    height: 92svh;
}
